a.button_type_red {
	cursor: pointer;
	font-family: 'Montserrat';
	outline: none;
	border: 1px solid #940000;
	color: #940000;
	margin: 5px;
	padding: 5px;
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;
	width: fit-content;
}

a.button_type_red:hover {
	background: #940000;
	color: #fff;
}

a.button_type_blue {
	cursor: pointer;
	font-family: 'Montserrat';
	outline: none;
	border: 1px solid #00028a;
	color: #00028a;
	margin: 5px;
	padding: 5px;
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;
	width: fit-content;
}

a.button_type_blue:hover {
	background: #00028a;
	color: #fff;
}

.button_type_green {
	cursor: pointer;
	font-family: 'Montserrat';
	outline: none;
	border: 1px solid #098a00;
	color: #098a00;
	margin: 5px;
	padding: 5px;
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;
	width: fit-content;
}

.button_type_green:hover {
	background: #098a00;
	color: #fff;
}
