.graduation-cap{
    content: url("../icons/graduation-cap.svg"); 
}
.megaphone{
    content: url("../icons/megaphone.svg"); 
}
.users{
    content: url("../icons/users.svg"); 
}
.flag{
    content: url("../icons/flag.svg"); 
}
.star-outlined{
    content: url("../icons/star-outlined.svg"); 
}