/* Dev */
#nav {
  background-color: #131313;
  color: #fff;
  padding: 20px;
}

/* Cumulative properties - START */
body {
  font-family: 'Montserrat';
  outline: none;
  background: #EBEBEB;
}
main {
  padding: 20px 5%;
}
span {
  font-weight: 300;
}
svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
img {
  width: 100%;
}
h1 {
  font-size: 14px;
}
h2 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
h3 {
  font-size: 26px;
  letter-spacing: 2px;
}
h5 {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
}
a {
  color: #EBEBEB;
}
/* Cumulative properties - END */

/* Main page - START */
/* Header */
.main_hdr {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  color: #EBEBEB;
}
.main_hdr_bg {
  width: 100%;
  height: 100vh;
}
.main_hdr_bg video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.main_hdr_content {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: -100vh 0 0 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(18, 10, 143, 0.14);
}
/* Navigation */
.nav {
  width: 90%;
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #EBEBEB;
  text-transform: uppercase;
}
.nav_bg {
  background: #322A36;
}
.nav_tit {
  flex: 0 0 300px;
  cursor: default;
}
.nav nav {
  flex: 1 1 100%;
  display: flex;
  justify-content: flex-end;
}
.nav_elem {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}
.nav_elem:hover {
  padding: 5px 10px 3px 10px;
  border-bottom: 2px solid #EBEBEB;
}
.nav_auth {
  display: flex;
}
/* Main header content */
.main_hdr_dscr {
  flex: 1 1 100%;
  width: 90%;
  padding: 40px 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.main_hdr_dscr p{
  padding: 20px 0;
  font-size: 20px;
  text-align: right;
  font-weight: 300;
}
/* Main Quality */
.main_qa {
  width: 100%;
  height: 100vh;
  background-color: #273856;
  color: #EBEBEB;
}
.main_qa_bg {
  margin: 0 0 0 40%;
  width: 60%;
  height: 100vh;
  background-color: #121212;
  clip-path: polygon(40% 0%, 100% 0%, 100% 100%, 0% 100%);
  background: url(../assets/img/quality.jpg);
  background-position: center;
  background-size: cover;
}
.main_qa_content {
  position: relative;
  margin: -80vh 0 0 0;
  padding: 10vh 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main_qa_content h2{
  padding: 0 0 20px 0;
}
.main_qa_elem {
  display: flex;
  padding: 5px;
}
.main_qa_ico {
  width: 36px;
  height: 36px;
}
.main_qa_elem p{
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 3px;
  padding: 0 0 0 10px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
/* Main Instruction */
.main_inst {
  width: 100%;
  height: 100vh;
  background-color: #EBEBEB;
  color: #322A36;
}
.main_inst_bg {
  width: 40%;
  height: 100vh;
  background-color: #273856;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 100%);
}
.main_inst_content {
  position: relative;
  height: 100vh;
  margin: -100vh 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main_inst_content h2{
  width: 90%;
  padding: 0 5%;
  text-align: right;
}
.main_inst_elem {
  display: flex;
  padding: 10px 5%;
  align-items: center;
}
.main_inst_ico {
  flex: 0 0 36px;
  height: 36px;
}
.main_inst_line {
  flex: 1 1 100%;
  margin: 0 20px;
  height: 2px;
  background-color: #4375AA;
}
.main_inst_elem p {
  white-space: nowrap;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}
/* Main Reviews */
.main_feed {
  width: 100%;
  height: 100vh;
  background-color: #EBEBEB;
}
.main_feed_bg {
  width: 20%;
  height: 100vh;
  background-color: #273856;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 100%);
}
.main_feed_content {
  position: relative;
  height: 100vh;
  margin: -100vh 0 0 0;
  display: flex;
  align-items: center;
}
.main_feed_control {
  flex: 0 0 60px;
  height: 60px;
}
.main_feed_img {
  flex: 0 0 500px;
  display: flex;
  align-items: flex-end;
  height: 100vh;
}
.main_feed_article {
  flex: 1 1 100%;
  padding: 0 60px;
}
.main_feed_article h3 {
  color: #273856;
  text-transform: uppercase;
}
.main_feed_article h5 {
  color: #322A36;
  text-transform: uppercase;
  padding: 10px 0;
}
/* Main Call */
.main_call {
  width: 90%;
  padding: 0 5%;
  height: 100vh;
  background-color: #322A36;
  display: flex;
  align-items: center;
}
.main_call_reg {
  flex: 0 0 50%;
}
.main_call_info {
  flex: 0 0 30%;
  padding: 0 0 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main_call h2{
  text-align: center;
  color: #EBEBEB;
}
.main_call_info_elem {
  padding: 20px;
  display: flex;
}
.main_call_info_ico {
  width: 40px;
  height: 40px;
  padding: 0 60px 0 0;
}
.main_call_info_tit {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EBEBEB;
  text-transform: uppercase;
}
/* Main page - END  */

/* Footer - START  */
.footer {
  width: 90%;
  padding: 20px 5%;
  background-color: #322A36;
  display: flex;
  align-items: center;
}
.footer_logo {
  flex: 0 0 150px;
  height: 70px;
}
.footer_nav {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
}
.footer_nav_cont {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}
.footer_nav_elem {
  width: 40%;
  margin: 5px 5%;
}
.footer_soc {
  flex: 1 1 100%;
  display: flex;
  justify-content: flex-end;
}
.footer_soc_elem {
  flex: 0 0 36px;
  height: 36px;
  padding: 10px;
}
/* Footer - END  */

/* Regist - START  */
.reg_container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Regist - END  */

/* Elements - START  */
button {
  cursor: pointer;
  font-family: 'Montserrat';
  outline: none;
}
button.type_1 {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #EBEBEB;
  color: #EBEBEB;
  margin: 5px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 15px;
}
button.type_1:hover {
  background: #EBEBEB;
  color: #151515;
}
button.type_2 {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #EBEBEB;
  color: #EBEBEB;
  margin: 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
}
button.type_2:hover {
  background: #EBEBEB;
  color: #151515;
}

.input_type_1 {
  width: 90%;
  padding: 10px 5%;
  display: flex;
}
.input_type_1_tit {
  flex: 1 1 40%;
  padding: 5px 10px;
  border: 1px solid #EBEBEB;
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #EBEBEB;
}
input.type_1 {
  background-color: transparent;
  flex: 1 1 60%;
  padding: 5px 10px;
  border: 1px solid #EBEBEB;
  outline: none;
  text-align: center;
  color: #EBEBEB;
}
/* Elements - END  */
