/* Master Style */
body {
  font-family: 'Montserrat';
  background: #fff;
  color: #000;
}

a {
  text-decoration: none;
}

span {
  font-weight: lighter;
}

.container {
  padding: 20px 5%;
  background: #fff;
  min-height: calc(100vh - 287px);
}

.line {
  width: 60%;
  height: 3px;
  margin: 10px 20%;
  background: #fff;
}

.pointer {
  cursor: pointer;
}

@media all and (max-width: 1024px) {
  .container_space {
    margin: 0;
  }
}

@media all and (max-width: 768px) {
  .__rail-is-vertical {
    display: none;
  }
}
/* Buttons Style */
button {
  cursor: pointer;
  font-family: 'Raleway';
  outline: none;
}

button.type_1 {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  margin: 5px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 15px;
}

button.type_1:hover {
  background: #fff;
  color: #273856;
}

button.type_1_rev {
  background: transparent;
  border: 1px solid #000;
  color: #000;
  margin: 5px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 15px;
}

button.type_1_rev:hover {
  background: #000;
  color: #fff;
}

button.type_2 {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  color: #fff;
  margin: 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
}

button.type_2:hover {
  background: #fff;
  color: #273856;
}

button.type_2_rev {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #000;
  color: #000;
  margin: 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
}

button.type_2_rev:hover {
  background: #000;
  color: #fff;
}
/* Filters Style */
.filter_elem {
  width: 100%;
  margin: 20px;
}

.filter_elem h4 {
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
}

select {
  width: 100%;
  color: #000;
  appearance: none;
  padding: 12px 0 12px 48px;
  background: #fff;
  border: 1px solid #000;
  outline: 0;
  font-weight: lighter;
  text-transform: uppercase;
}

.filter_category_select,
.filter_sort_select {
  position: relative;
}

.filter_category_select::before {
  content: url(./assets/icons/category.svg);
  height: 24px;
  width: 24px;
  top: 8px;
  left: 16px;
  position: absolute;
  pointer-events: none;
}

.filter_category_select::after {
  content: url(./assets/icons/chevron-down.svg);
  height: 24px;
  width: 24px;
  top: 8px;
  right: 16px;
  position: absolute;
  pointer-events: none;
}

.filter_sort_select::before {
  content: url(./assets/icons/sort.svg);
  height: 24px;
  width: 24px;
  top: 8px;
  left: 16px;
  position: absolute;
  pointer-events: none;
}

.filter_sort_select::after {
  content: url(./assets/icons/chevron-down.svg);
  height: 24px;
  width: 24px;
  top: 8px;
  right: 16px;
  position: absolute;
  pointer-events: none;
}
/* Pagination Style */
.pagin_container {
  display: flex;
  flex: 1 1 100%;
  order: 1;
  justify-content: center;
  padding: 30px 0;
  font-family: Arial;
}

.pagin {
  display: flex;
  flex: 0 1 65%;
  text-transform: uppercase;
  color: #000;
}

.pagin a {
  display: flex;
  height: 100%;
  width: 24px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
}

.pagin img {
  width: 24px;
  height: 24px;
}

.pagin_nav.current {
  padding: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagin>a {
  width: 40px;
  background-color: #fff;
}

.pagin>a .pagin_nav {
  display: flex;
  height: 100%;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  transition: all .4s;
  font-weight: 600;
}

.pagin_page_list .page {
  display: flex;
  height: 100%;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  transition: all .4s;
  font-weight: 600;
}

.pagin>a:hover>.pagin_nav {
  height: 24px;
  flex-basis: 24px;
  border-radius: 50%;
  background-color: #fff;
}

.pagin_page_list {
  display: flex;
  flex: 2 0 auto;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: #fff;
}

.pagin_page_list a {
  flex: 1 1 auto;
}

.pagin_page_list a:hover .page {
  height: 24px;
  flex-basis: 24px;
  border-radius: 50%;
  background-color: #fff;
}
